In [0]:
import numpy as np
import pandas as pd

In [0]:
data=pd.read_csv('adult.data.txt')

In [0]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [0]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [0]:
data.loc[data['sex']=='Female','age'].mean()

36.85823043357163

In [0]:
data['age'][data['sex']=='Female'].mean()

36.85823043357163

In [0]:
(data['native-country']=='Germany').sum()/data.shape[0]

0.004207487485028101

In [0]:
ages1=data.loc[data['salary']=='>50K','age']
ages2=data.loc[data['salary']=='<=50K','age']
print("The average age of the rich: {0} +- {1} years, poor - {2} +- {3} years.".format(
    round(ages1.mean()), round(ages1.std(),1),
    round(ages2.mean()), round(ages2.std(),1)))

The average age of the rich: 44.0 +- 10.5 years, poor - 37.0 +- 14.0 years.

In [0]:
data.loc[data['salary']=='>50K','education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [0]:
data.groupby(['race','sex']).first()

                           age  workclass  fnlwgt     education  \
race               sex
Amer-Indian-Eskimo Female   35    Private  153790  Some-college
                   Male     34    Private  245487       7th-8th
Asian-Pac-Islander Female   30    Private  117747       HS-grad
                   Male     30  State-gov  141297     Bachelors
Black              Female   28    Private  338409     Bachelors
                   Male     53    Private  234721          11th
Other              Female   25    Private   32275  Some-college
                   Male     65    Private  161400          11th
White              Female   37    Private  284582       Masters
                   Male     39  State-gov   77516     Bachelors

                           education-num      marital-status  \
race               sex
Amer-Indian-Eskimo Female             10       Never-married
                   Male                4  Married-civ-spouse
Asian-Pac-Islander Female              9  Married-civ-spouse
                   Male               13  Married-civ-spouse
Black              Female             13  Married-civ-spouse
                   Male                7  Married-civ-spouse
Other              Female             10  Married-civ-spouse
                   Male                7             Widowed
White              Female             14  Married-civ-spouse
                   Male               13       Never-married

                                  occupation   relationship  capital-gain  \
race               sex
Amer-Indian-Eskimo Female              Sales  Not-in-family             0
                   Male     Transport-moving        Husband             0
Asian-Pac-Islander Female              Sales           Wife             0
                   Male       Prof-specialty        Husband             0
Black              Female     Prof-specialty           Wife             0
                   Male    Handlers-cleaners        Husband             0
Other              Female    Exec-managerial           Wife             0
                   Male        Other-service      Unmarried             0
White              Female    Exec-managerial           Wife             0
                   Male         Adm-clerical  Not-in-family          2174

                           capital-loss  hours-per-week native-country salary
race               sex
Amer-Indian-Eskimo Female             0              40  United-States  <=50K
                   Male               0              45         Mexico  <=50K
Asian-Pac-Islander Female          1573              35              ?  <=50K
                   Male               0              40          India   >50K
Black              Female             0              40           Cuba  <=50K
                   Male               0              40  United-States  <=50K
Other              Female             0              40  United-States  <=50K
                   Male               0              40  United-States  <=50K
White              Female             0              40  United-States  <=50K
                   Male               0              40  United-States  <=50K

In [0]:
for element in data.groupby(['race','sex']):
    print("Race:{0},Sex:{1}".format(element[0][0],element[0][1]))
    print(element[1]['age'].describe())

Race:Amer-Indian-Eskimo,Sex:Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race:Amer-Indian-Eskimo,Sex:Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race:Asian-Pac-Islander,Sex:Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race:Asian-Pac-Islander,Sex:Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race:Black,Sex:Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:Black,Sex:Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:Other,Sex:Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race:Other,Sex:Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race:White,Sex:Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:White,Sex:Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

In [0]:
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].isin(['Never-married', 
                                   'Separated', 
                                   'Divorced',
                                   'Widowed'])), 'salary'].value_counts()

<=50K    7552
>50K      697
Name: salary, dtype: int64

In [0]:
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].str.startswith('Married')), 'salary'].value_counts()

<=50K    7576
>50K     5965
Name: salary, dtype: int64

In [0]:
data['marital-status']

0             Never-married
1        Married-civ-spouse
2                  Divorced
3        Married-civ-spouse
4        Married-civ-spouse
                ...
32556    Married-civ-spouse
32557    Married-civ-spouse
32558               Widowed
32559         Never-married
32560    Married-civ-spouse
Name: marital-status, Length: 32561, dtype: object

In [0]:
max_load=data['hours-per-week'].max()
print("Max time - {0} hours./week.".format(max_load))
num_workaholics=data[data['hours-per-week']==max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))
rich_share=data[(data['hours-per-week']==max_load) & (data['salary']=='>50K')].shape[0]/num_workaholics
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 99 hours./week.
Total number of such hard workers 85
Percentage of rich among them 29%

In [0]:
for element in data.groupby(['native-country','salary']):
    print(element[0][0]," ",element[0][1],":",element[1]['hours-per-week'].mean())

?   <=50K : 40.16475972540046
?   >50K : 45.54794520547945
Cambodia   <=50K : 41.416666666666664
Cambodia   >50K : 40.0
Canada   <=50K : 37.91463414634146
Canada   >50K : 45.64102564102564
China   <=50K : 37.38181818181818
China   >50K : 38.9
Columbia   <=50K : 38.68421052631579
Columbia   >50K : 50.0
Cuba   <=50K : 37.98571428571429
Cuba   >50K : 42.44
Dominican-Republic   <=50K : 42.338235294117645
Dominican-Republic   >50K : 47.0
Ecuador   <=50K : 38.041666666666664
Ecuador   >50K : 48.75
El-Salvador   <=50K : 36.03092783505155
El-Salvador   >50K : 45.0
England   <=50K : 40.483333333333334
England   >50K : 44.53333333333333
France   <=50K : 41.05882352941177
France   >50K : 50.75
Germany   <=50K : 39.13978494623656
Germany   >50K : 44.97727272727273
Greece   <=50K : 41.80952380952381
Greece   >50K : 50.625
Guatemala   <=50K : 39.36065573770492
Guatemala   >50K : 36.666666666666664
Haiti   <=50K : 36.325
Haiti   >50K : 42.75
Holand-Netherlands   <=50K : 40.0
Honduras   <=50K : 34.333333333333336
Honduras   >50K : 60.0
Hong   <=50K : 39.142857142857146
Hong   >50K : 45.0
Hungary   <=50K : 31.3
Hungary   >50K : 50.0
India   <=50K : 38.233333333333334
India   >50K : 46.475
Iran   <=50K : 41.44
Iran   >50K : 47.5
Ireland   <=50K : 40.94736842105263
Ireland   >50K : 48.0
Italy   <=50K : 39.625
Italy   >50K : 45.4
Jamaica   <=50K : 38.23943661971831
Jamaica   >50K : 41.1
Japan   <=50K : 41.0
Japan   >50K : 47.958333333333336
Laos   <=50K : 40.375
Laos   >50K : 40.0
Mexico   <=50K : 40.00327868852459
Mexico   >50K : 46.57575757575758
Nicaragua   <=50K : 36.09375
Nicaragua   >50K : 37.5
Outlying-US(Guam-USVI-etc)   <=50K : 41.857142857142854
Peru   <=50K : 35.06896551724138
Peru   >50K : 40.0
Philippines   <=50K : 38.065693430656935
Philippines   >50K : 43.032786885245905
Poland   <=50K : 38.166666666666664
Poland   >50K : 39.0
Portugal   <=50K : 41.93939393939394
Portugal   >50K : 41.5
Puerto-Rico   <=50K : 38.470588235294116
Puerto-Rico   >50K : 39.416666666666664
Scotland   <=50K : 39.44444444444444
Scotland   >50K : 46.666666666666664
South   <=50K : 40.15625
South   >50K : 51.4375
Taiwan   <=50K : 33.774193548387096
Taiwan   >50K : 46.8
Thailand   <=50K : 42.86666666666667
Thailand   >50K : 58.333333333333336
Trinadad&Tobago   <=50K : 37.05882352941177
Trinadad&Tobago   >50K : 40.0
United-States   <=50K : 38.79912723305605
United-States   >50K : 45.50536884674383
Vietnam   <=50K : 37.193548387096776
Vietnam   >50K : 39.2
Yugoslavia   <=50K : 41.6
Yugoslavia   >50K : 49.5

In [0]:
pd.crosstab(data['salary'], data['native-country'], 
           values=data['hours-per-week'], aggfunc=np.mean)

native-country,?,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
salary,,,,,,,,,,,,,,,,,,,,,
<=50K,40.164760,41.416667,37.914634,37.381818,38.684211,37.985714,42.338235,38.041667,36.030928,40.483333,...,41.939394,38.470588,39.444444,40.15625,33.774194,42.866667,37.058824,38.799127,37.193548,41.6
>50K,45.547945,40.000000,45.641026,38.900000,50.000000,42.440000,47.000000,48.750000,45.000000,44.533333,...,41.500000,39.416667,46.666667,51.43750,46.800000,58.333333,40.000000,45.505369,39.200000,49.5